* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(0,0,0,0);
    color: #777777;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: #777777;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #777777;
    border-bottom: 3px solid transparent;
}

#workspaces button.active {
    border-bottom: 3px solid white;
}

#mode, #clock, #battery {
    padding: 0 10px;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid #777777;
}

#clock {
    background-color: #171717;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}